body{
    font-family:"Century Gothic", "Arial", sans-serif;
}
@font-face {
    font-family:Century Gothic;
    src:url(/fonts/CENTURY.TTF);
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
/*header*/
.MainMenuCase{
    background-color:#3c3c3c;
    display:flex;
    justify-content: center;
}
.MainMenu{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:0;
    margin-top:0;
    margin-bottom:0;
    height: 50px;
    width:1250px;
    font-size:10pt;
}
.MainMenu input{
    position: relative;
    background-color: #3c3c3c;
    border: 1px solid white;
    padding:10px 0 9px 14px;
    color:#989898;
}
.MainMenu li{
    margin-left:35px;
}
.search {
    position: relative;
    background-color: #3c3c3c;
    border: 1px solid white;
    padding: 8px 0 9px 14px;
    color: #989898;
    width: 220px;
    height:30px;
}
.MainMenu label{
    position: relative;
}
.MainMenu label::before{
    content:' ';
    background-image: url(../img/search.png);
    position:absolute;
    width:11px;
    height:11px;
    top:2px;
    left: -20px;
}
.logo{
    flex-grow:1;
}
.phone{
    position: relative;
    color:#e9b637;
    font-size:12pt;
}
.basket{
    position: relative;
    color:white;
}
.user{
    position: relative;
    color:white;
}
/*menu*/
.MinorMenuCase {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}
.MinorMenu{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:nowrap;
    height: 75px;
    width:1150px;
    padding-left:0;
    margin-top:0;
    margin-bottom:0;
    font-weight: bold;
    font-size:15pt;
}
.MinorMenu li{
    width:100px;
    padding-top:25px;
    padding-right: 100px;
}
.MinorMenu a{
    color:#3c3c3c;
}
.all_categories{
    flex-grow:1;
    padding-left:20px;
}
/*Конец menu*/
/*Конец header*/

/*Начало main*/
/*Слайдер*/
.all_sliders{
    display:flex;
    justify-content: center;
}
.sliders{
    display: flex;
    width:1080px;
    height: 400px;
    background-color: #e9b637;
    box-shadow: 0 0 10px #3c3c3c;
    padding:0 0 0 100px;
    overflow: hidden;
}
/*Слайд 1*/
.slide_1{
    flex-shrink: 0;
    width:1200px;
    height:300px;
    padding-top:70px;
    background-image: url(../img/bbb.png);
    background-position: 70% 50%;
    background-repeat: no-repeat;
}
/*Слайд 2*/
.slide_2{
    flex-shrink: 0;
    width:1200px;
    height:385px;
    padding-top:70px;
    background-image: url(../img/aaa.png);
    background-position: 80% 50%;
    background-repeat: no-repeat;
}
/*Слайд 3*/
.slide_3{
    flex-shrink: 0;
    width:1200px;
    height:385px;
    padding-top:70px;
    background-image: url(../img/ccc.png);
    background-position: 80% 20%;
    background-repeat: no-repeat;
}
.slide{
    order:2;
}
.slide p{
    width:560px;
    margin-bottom:40px;
}
.levers{
    width: 100px;
}
.levers div{
    text-align: center;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50px;
}
input[type=radio]:checked + .slide{
    order: 1;
}
.more_info{
    color:white;
    width: 200px;
    padding:10px 45px 10px 45px;
    border:1px solid white;
    border-radius: 5px;
    font-size:12pt;
}
.more_info:hover{
    color:#3c3c3c;
    background-color: white;
    font-size:12pt;
}
.more_info:active{
    color:#717171;
    background-color: #959595;
    border-color:#959595;
    font-size:12pt;
}
.white_text{
    color:white;
    margin-top:50px;
}
/*Конец Слайдер*/
hr{
    margin-top:35px;
}
/*Список-каталог*/
.brands{
    display:flex;
    justify-content: center;
}
.catalog div{
    width:150px;
    height:150px;
    background-color:#f0f0f0;
    border:solid 6px #e9b637;
    border-radius:100px;
    margin-top:30px;
}
.catalog a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.catalog img{
    position: relative;
    top:50px;
}
.catalog{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:1200px;
    padding-left:0;
}
.catalog li{
    text-align: center;
    width:170px;
}
/*Конец Список-каталог*/
/*Второй слайдер*/
.all_sliders_second input{
    display:none;
}
.all_sliders_second{
    display:flex;
    margin-left:65px;
    margin-top:50px;
    justify-content: center;
}
.sliders_second{
    width:1200px;
    display:flex;
    overflow: hidden;
}
.levers_second{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    padding-right:50px;
    height:190px;
}
.levers_second label{
    text-align:center;
    padding:16px 0 16px 0;
    border:1px solid #3c3c3c;
    color:#3c3c3c;
    width:250px;
}
.levers_second label:hover{
    border-color: #3c3c3c;
    background-color: #3c3c3c;
    color: #e9b637;
}
.levers_second label:active{
    border-color: #3c3c3c;
    background-color: #3c3c3c;
    color: #e9b637;
    opacity: 0.5;
}
/*Слайд1*/
.slide1_sec{
    width:950px;
    height:187px;
    background-image: url(../img/c71ddc0d7026e5e7339c09a5c0bf87bd.png);
    background-position: 80% 20%;
    background-repeat: no-repeat;
}
/*Слайд2*/
.slide2_sec{
    width:950px;
    height:187px;
    background-image: url(../img/cropped-Logo-Square.png);
    background-position: 80% 20%;
    background-repeat: no-repeat;
}
/*Слайд3*/
.slide3_sec{
    width:950px;
    height:187px;
    background-image: url(../img/img-Kurier.png);
    background-position: 80% 20%;
    background-repeat: no-repeat;
}
.slidesec{
    color:#3c3c3c;
    font-size:12pt;
    flex-shrink: 0;
    order:2;
}
.slidesec p{
    width:480px;
}
.slidesec h2{
    margin-top:10px;
    width:560px;
}
input[type=radio]:checked + .slidesec{
    order: 1;
}
/*Конец Второй слайдер*/
/*Второй список-каталог*/
.brands_second{
    display: flex;
    justify-content: center;
}
.brands_second ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    width: 1240px;
    margin-top:50px;
    margin-right:40px;
    padding-bottom:50px;
}
/*Конец Второй спискок-каталог*/
/*Блок с инфой*/
.InfoBlock{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:545px;
    margin-bottom:50px;
}
/*Левый блок*/
.MinorInfoBlock1{
    font-size:13pt;
    width:695px;
    background-color:#e7e7e7;
    padding-left:50px;
    padding-right:15px;
    padding-top:50px;
}
.MinorInfoBlock1 p{
    color: #8c8c8c;
}
.MinorInfoBlock1 li{
    color: #8c8c8c;
    margin-top:30px;
    list-style-image: url(../img/marker.png);
}
.write_us{
    position:absolute;
    margin-top:42px;
    margin-left:55px;
    color:black;
}
.gray_logo{
    color:#515151;
}
.yel_line{
    margin:20px 0 20px 0;
    width:70px;
    border:4px solid #e9b637;
}
.bot_yel_line{
    width:250px;
    border:4px solid #f0c52e;
    margin-top:65px;
}
/*Конец Левый блок*/
/*Правый блок*/
.MinorInfoBlock2{
    color:white;
    background-color: #3c3c3c;
    width:415px;
    padding-top:46px;
    padding-left:40px;
    padding-right: 10px;
}
.MinorInfoBlock2 h2{
    font-size:20pt;
}
.your_e-mail{
    width:360px;
    height:40px;
    margin-top:30px;
    background-color: #515151;
    border:1px solid #8a8a8a;
    color: #8a8a8a;
    font-size:13pt;
    padding-left:30px;
}
.info{
    width:360px;
    margin-top:10px;
    opacity:0.12;
    font-size:10pt;
}
.subscribe{
    color:#3c3c3c;
    padding:10px 118px 10px 118px;
    background-color: #e9b637;
    border:1px solid #e9b637;
    text-align:center;
    font-size:18pt;
}
.but_sub{
    margin-top:40px;
}
.subscribe:hover {
    color: #e9b637;
    background-color:white;
    border-color:white;
}
.yel_line2{
    margin:20px 0 20px 0;
    width:70px;
    border:4px solid #e9b637;
}
/*Конец Правый блок*/
/*Конец Блок с инфой*/
/*Конец main*/

/*footer*/
/*Верхняя часть footer*/
footer{
    display:flex;
    justify-content: center;
    background-color: #464646;
}
/*Левая часть footer*/
.Footer-TopSection{
    width:1155px;
    height: 295px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.BottomAdd{
    width:280px;
    margin-top:33px;
    color:#a6a6a6;
}
.logo2{
    margin-top:10px;
    margin-left:-20px;
}
.footer_phone{
    color:white;
    margin-top:110px;
    margin-left:-70px;
    font-size:20pt;
}
.address{
    margin-top:30px;
    margin-left:-30px;
    font-size:12pt;
}
.BottomMainMenu{
    display:flex;
    flex-direction: row;
    margin-top:90px;
    margin-left:-70px;
}
.BottomMainMenu li{
    padding-right:20px;
}
/*Правая часть footer*/
.BottomMinorMenu{
    width:500px;
    text-align:center;
    margin-top:30px;
}
.BottomMinorMenu ul{
    padding:0;
    width:500px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}
.BottomMinorMenu a{
    color:white;
    font-size:15pt;
    font-weight: bold;
}
.map{
    width: 480px;
    height: 200px;
}

.Bottom p{
    color:#8a8a8a;
}
/*Конец Верхняя часть footer*/
/*Нижняя часть footer*/
.Footer-BottomSection{
    display:flex;
    justify-content: center;
    background-color: #3c3c3c;
    margin:0 -134px 0 -134px;
}
.contacts{
    height: 70px;
    width:1155px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.contacts p{
    color:#8a8a8a;
    margin-left:-32px;
    margin-top:25px;
    font-size: 15px;
}
.contacts ul {
    display: flex;
    flex-direction:row;
}
.contacts ul li{
    padding-right:5px;
    margin-top:5px;
}
/*Конец Нижняя часть footer*/
/*Конец footer*/